.input{
    width: 95%;
    display: flex;
    font-family: 'Lato', sans-serif;
    margin: 2% 0% 2% 0%;
    padding: 2%;
    background-color: #8080803d;
}


input{
    width: 95%;
    display: flex;
    font-family: 'Lato', sans-serif;
    margin: 2% 0% 2% 0%;
    padding: 2%;
    background-color: #8080803d;
}