/*MOBILE*/
*{
  margin: 0;
  padding: 0;
  border: none;
}
.nav-bg {
  background-color: #3A4851;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-logo{
  width: 27vw;
  margin-left: 3vw;
}
.register-nav-btn{
  color: #ffffff;
  background-color: #E35D29;
  font-size: 90%;
  width: 30vw;
  border-radius: 10px;
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;
}
.register-nav-btn:hover{
  color: #E35D29;
  background-color: #ffffff;  
  cursor: pointer;
}
.company-nav-btn{
  color: #E35D29;
  background-color: #ffffff;
  font-size: 90%;
  width: 26vw;
  border-radius: 10px;
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;
}
.company-nav-btn:hover{
  color: #ffffff;
  background-color: #E35D29; 
  cursor: pointer;
}

/*WEB*/
@media (max-width: 1900px) and (min-width: 700px){
*{
  margin: 0;
  padding: 0;
  border:none;
}
.nav-logo{
  width: 10vw;
}
.company-nav-btn{
  width: 10vw;
  padding: 1%;
  font-size: 100%;
}
.register-nav-btn{
  width: 10vw;
  padding: 1%;
  font-size: 100%;
}
}