.current-step{
    color: white;
    background: #f34d0b;
    width: 40%;
    padding: 2%;
    margin: 2% 0% 0% 8%;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-radius: 7px;
}
/*WEB*/
@media (max-width: 1900px) and (min-width: 700px){
    .current-step{
        color: #f34d0b;
        width: 20%;
       
        margin: 1%;
        font-weight: bold;
        font-size: 100%;
    }
}
