.admin-layout{
  background-color: #E35D29;
  width: 100vw;
  height: 100vh;
}
.data-board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data-item{
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 10px 5%;
  text-align: left;
  list-style: none;
  overflow: auto;
}

.control-btn{
  display: flex;
  flex-direction: row;
  width: 90vw;
}
.accept-btn{
  margin: 5px;
  height: 30px;
  width: 100px;
  color: white;
  background-color: green;
  text-transform: uppercase;

}
.decline-btn{
  margin: 5px;
  height: 30px;
  width: 100px;
  color: white;
  background-color: red;
  text-transform: uppercase;
}
.user-data{
  background-color: #ffffff;
  padding: 5%;
  border-radius: 10px;
  width: 90vw;
}

@media (max-width: 540px) {
  .data-item{
    flex-direction: column;
  }
  .control-btn{
    align-self: center;
  }
  

}