.simulator-container {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.simulator-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #f15d22;
  margin: 20px 0 10px 0;
}

.simulator-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  margin: 10px 0 5px 0;
  color: #3a4950;
}

.simulator-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  width: 100%;
  align-items: center;
}

.simulator-input {
  background: #fff;
  color: #696767;
  outline: 0;
  width: 70%;
  max-width: 400px;
  border: 1px solid #949292;
  border-radius: 7px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 10px 0;
}

.simulator-range-input {
  width: 70%;
  max-width: 400px;
  margin: 30px 0;
}

.simulator-submit {
  width: 90%;
  display: flex;
  justify-content: center;
  max-width: 500px;
  background-color: #f15d22;
  color: #fff;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 14px;
  border-radius: 7px;
}

.simulator-result-container {
  width: 90%;
  max-width: 500px;
  margin: 10px 0 20px 0;
  padding: 15px;
  border: 1px solid #3a4950;
  border-radius: 7px;
}

.simulator-result {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #03bdd5;
}


@media (min-width: 540px){
  .simulator-container {
    background-color: #f8f9fa;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-flow: column;
  }

}